
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: transparent;
}

/* Use OS default fonts */
body {
	font-family:
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
	background-color: #222;
}

.apc40 {
  width: 100%;
  height: 100%;
	background-color: black;
	padding: 20px;
	display: inline-flex;
}

#leftside {
  width:60%;
/*	border: 1px solid #222;*/
}

#rightside {
	width:40%;
/*	border: 1px solid #222;*/
}

#topleftside {
/*  border: 1px solid white;*/
  display: flex;
  height: 40%;
}

#bottomleftside {
/*	border: 1px solid blue;*/
	height: 60%;
}

.cliplaunch {
    border: 1px solid white;
    margin: 10px 0px 10px 10px;
    padding: 10px;
    border-radius: 5px;
    width: 85%;
    height: calc(100% - 10px);
}

.cliplaunch h1 {
	font-size: 12px;
	text-align: center;
	margin: 0px;
	height: 0px;
}

.cliplaunch h1 span {
	display: inline;
	border: 0px;
	background: black;
	color: white;
	padding: 5px 10px;
	position: relative;
	top: -1.3em;

}

div.cliplaunch-coloumns {
	/*border: 1px solid green;*/
	float: left;
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

div.cliplaunch-col {
/*    border: 1px solid white;*/
    float: left;
    height: 100%;
    width: calc(100% / 8);
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.cliplaunch-col button {
	width: 20px;
	height: 20px;
}

.scenelaunch {
	margin: 10px 10px 10px 0px;
	padding: 10px;
	border: 1px solid #222;
	border-radius: 5px;
	height: calc(100% - 10px);
	width: 15%;
}

.scenelaunch h1 {
	font-size: 12px;
	text-align: center;
	margin: 0px;
	height: 0px;
}

.scenelaunch h1 div {
	border: 0px;
	color: white;
	padding: 5px 10px;
	position: relative;
	top: -30px;
}

div.scenelaunch-col {/*
  border: 1px solid green;*/
	float: left;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: space-around;
}

.scenelaunch-col button {
	width: 20px;
	height: 20px;
}

.button-row {
	margin: 2px 10px;
	padding: 2px 0px;
	border: 1px solid #222;
	border-radius: 5px;
}

#trackselection.button-row {
	border: 1px solid white;
}

.button-row h1 {
	font-size: 12px;
	margin: 0px;
	height: 0px;
}

.button-row h1 div {
	border: 0px;
	color: white;
	padding: 2px 2px;
	position: relative;
	left: -25px;
	top: -5px;
	width: 50px;
	text-align: center;
	line-height: 8px;
}

.button-row-col
{
	display: flex;
}

.button-row-col-1 {
/*  background-color: red;*/
  display: flex;
  width: calc(85% - 20px);
  justify-content: space-around;
}

.button-row-col button {
	height: 20px;
	width: 20px;
	z-index: 100;
}

.button-row-col-sm button {
	height: 7px;
	width: 20px;
}

.button-row-col-shiv {
  width: 10px;
}

.button-row-col-2 {
  /* background-color: blue;*/
  display:flex;
  justify-content: space-around;
  width: 15%;
}




#trackselection {
	margin: 10px 10px;
}

#trackselection h1 {
}

#trackselection h1 div {
	background-color: black;
	border: 0px;
	color: white;
	padding: 5px 10px;
	position: relative;
	left: calc(50% - 60px);
	text-align: center;
	top: -15px;
	width: 120px;
}

#activator {
	margin: 0px 10px 10px 10px;
	padding: 10px;
	border: 1px solid #222;
	border-radius: 5px;
	height:50px;
	display: flex;
}

#activator h1 {
	font-size: 12px;
	margin: 0px;
	height: 0px;
}

#activator h1 div {
	border: 0px;
	color: white;
	padding: 5px 10px;
	position: relative;
	left: -45px;
	top: -7px;
	width: 20px;
}

#activator button {
	margin: 8px;
	padding: 10px;
	position: relative;
	left: 0px;
	height: 20px;
	width: 20px;
}

#activator button:last-child {
	margin: 8px 3px 8px 8px;
	padding: 10px 0px 10px 10px;
	position: relative;
	left: -5px;
	height: 20px;
	width: 20px;
}




#solocue {
	margin: 0px 10px 10px 10px;
	padding: 10px;
	border: 1px solid #222;
	border-radius: 5px;
	height:50px;
	display: flex;
}

#solocue h1 {
	font-size: 12px;
	margin: 0px;
	height: 0px;
}

#solocue h1 div {
	border: 0px;
	color: white;
	padding: 5px 10px;
	position: relative;
	left: -45px;
	top: -7px;
	width: 20px;
}

#solocue button {
	margin: 8px;
	padding: 10px;
	position: relative;
	left: -20px;
	height: 20px;
	width: 20px;
}

#solocue button:last-child {
	margin: 8px 3px 8px 8px;
	padding: 10px 0px 10px 10px;
	position: relative;
	left: -5px;
	height: 20px;
	width: 20px;
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100%;
    padding: 0 10px;
}

#slider-row {
	background-color: #111;
	margin: 2px 10px;
	padding: 2px 0px;
	border: 1px solid #222;
	border-radius: 5px;
	height: 40%;
}

